Framework/Aim.Portal.ServicesProvider/Service References/USService/UserSessionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="UserSessionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IUserSessionService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ray-pc2:8007/UserSessionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ray-pc2:8007/UserSessionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ray-pc2:8007/UserSessionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Aim.Common.Authentication" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserSessionService_ExecuteService_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteService" />
  </wsdl:message>
  <wsdl:message name="IUserSessionService_ExecuteService_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IUserSessionService_CheckUserSession_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserSession" />
  </wsdl:message>
  <wsdl:message name="IUserSessionService_CheckUserSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IUserSessionService_ReleaseSession_InputMessage">
    <wsdl:part name="parameters" element="tns:ReleaseSession" />
  </wsdl:message>
  <wsdl:message name="IUserSessionService_ReleaseSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReleaseSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IUserSessionService_AuthenticateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="IUserSessionService_AuthenticateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserSessionService_SetPrepRelease_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPrepRelease" />
  </wsdl:message>
  <wsdl:message name="IUserSessionService_SetPrepRelease_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPrepReleaseResponse" />
  </wsdl:message>
  <wsdl:message name="IUserSessionService_RefreshSession_InputMessage">
    <wsdl:part name="parameters" element="tns:RefreshSession" />
  </wsdl:message>
  <wsdl:message name="IUserSessionService_RefreshSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:RefreshSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IUserSessionService_GetUserData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserData" />
  </wsdl:message>
  <wsdl:message name="IUserSessionService_GetUserData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDataResponse" />
  </wsdl:message>
  <wsdl:message name="IUserSessionService_GetSystemData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSystemData" />
  </wsdl:message>
  <wsdl:message name="IUserSessionService_GetSystemData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSystemDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserSessionService">
    <wsdl:operation name="ExecuteService">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/ExecuteService" message="tns:IUserSessionService_ExecuteService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/ExecuteServiceResponse" message="tns:IUserSessionService_ExecuteService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserSessionService/CheckUserSession" message="tns:IUserSessionService_CheckUserSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserSessionService/CheckUserSessionResponse" message="tns:IUserSessionService_CheckUserSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReleaseSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserSessionService/ReleaseSession" message="tns:IUserSessionService_ReleaseSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserSessionService/ReleaseSessionResponse" message="tns:IUserSessionService_ReleaseSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserSessionService/AuthenticateUser" message="tns:IUserSessionService_AuthenticateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserSessionService/AuthenticateUserResponse" message="tns:IUserSessionService_AuthenticateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPrepRelease">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserSessionService/SetPrepRelease" message="tns:IUserSessionService_SetPrepRelease_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserSessionService/SetPrepReleaseResponse" message="tns:IUserSessionService_SetPrepRelease_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RefreshSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserSessionService/RefreshSession" message="tns:IUserSessionService_RefreshSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserSessionService/RefreshSessionResponse" message="tns:IUserSessionService_RefreshSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserData">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserSessionService/GetUserData" message="tns:IUserSessionService_GetUserData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserSessionService/GetUserDataResponse" message="tns:IUserSessionService_GetUserData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSystemData">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserSessionService/GetSystemData" message="tns:IUserSessionService_GetSystemData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserSessionService/GetSystemDataResponse" message="tns:IUserSessionService_GetSystemData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IUserSessionService" type="tns:IUserSessionService">
    <wsp:PolicyReference URI="#WSHttpBinding_IUserSessionService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteService">
      <soap12:operation soapAction="http://tempuri.org/IWCFService/ExecuteService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserSession">
      <soap12:operation soapAction="http://tempuri.org/IUserSessionService/CheckUserSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReleaseSession">
      <soap12:operation soapAction="http://tempuri.org/IUserSessionService/ReleaseSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap12:operation soapAction="http://tempuri.org/IUserSessionService/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPrepRelease">
      <soap12:operation soapAction="http://tempuri.org/IUserSessionService/SetPrepRelease" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshSession">
      <soap12:operation soapAction="http://tempuri.org/IUserSessionService/RefreshSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserData">
      <soap12:operation soapAction="http://tempuri.org/IUserSessionService/GetUserData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSystemData">
      <soap12:operation soapAction="http://tempuri.org/IUserSessionService/GetSystemData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserSessionService">
    <wsdl:port name="WSHttpBinding_IUserSessionService" binding="tns:WSHttpBinding_IUserSessionService">
      <soap12:address location="http://ray-pc2:8007/UserSessionService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://ray-pc2:8007/UserSessionService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>